body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(./header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

/* My code */
/* hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
} */

/* Instructor Code */
hr {
  margin: 20px auto;
  color: #F05F44;
  border: 2px solid #F05F44;
  max-width: 65px;
  opacity: 1;  
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

/* old way */
/* .btn-primary:hover {
  background-color: #ee4b08 !important;
  border-color: #ee4b08 !important;
  border-width: 4px !important;
} */

/* new way */
.btn-primary {	
  background-color: #F05F44;	
  border-color: #F05F44;	
  --bs-btn-hover-bg: #ee4b08;	
  --bs-btn-hover-border-color: #ee4b08;
}

.btn-xl {
  padding: 1rem 2rem;
}



/* Depending on the Bootstrap version you are using, you may see a different 
effect. If you are using Bootstrap 5 or higher, then in your CSS file, I recommend 
adding this line of code for the hr tag in order to see similar effects as you would 
in the next video: */

/* hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
} */
